@font-face {
    font-family: Montserrat;
    src: url(/font/Montserrat/Montserrat-Regular.ttf)
}

@font-face {
    font-family: Merriweather;
    src: url(/font/Montserrat/Merriweather-Regular.ttf)
}