
<div class="container">

    {% include topbar2.html %}

    <hr style="height: 1px; margin-bottom:0px; margin-top:0px ; border-color: #000000">

    {% include header3lite.html %}

    <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">

    <div class="row">

        <div class="col-xs-12" style="margin-bottom:10px;">

            {% include workexperience6lite.html %}

        </div>

    </div>

    <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">

    <div class="row">

        <div class="col-xs-12" style="margin-bottom:10px;">

            {% include education5.html %}

        </div>

    </div>

    <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">

    <div class="row">

        <div class="col-xs-12" style="margin-bottom:10px;">

            {% include skills4.html %}

        </div>

    </div>


    <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">

    <div class="row">

        <div class="col-xs-12" style="margin-bottom:10px;">

            {% include language.html %}

        </div>

    </div>

    <hr
        style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); page-break-after: always;">
</div>