<!DOCTYPE html>
<html>
  {% include about/head-about.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="about">
          <div class="container">
        
            <hr style="height: 1px; margin-bottom:0px; margin-top:0px ; border-color: #000000">
        
            {% include about/header3lite.html %}
        
            <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">
        
            <div class="row">
        
              <div class="col-xs-12" style="margin-bottom:10px;">
        
                {% include about/workexperience6lite.html %}
        
              </div>
        
            </div>
        
            <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">
        
            <div class="row">
        
              <div class="col-xs-12" style="margin-bottom:10px;">
        
                {% include about/education5.html %}
        
              </div>
        
            </div>
        
            <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">
        
            <div class="row">
        
              <div class="col-xs-12" style="margin-bottom:10px;">
        
                {% include about/skills4.html %}
        
              </div>
        
            </div>
        
        
            <hr style="height: 1px; margin-bottom:10px; margin-top:0px ; border-color: #000000">
        
            <div class="row">
        
              <div class="col-xs-12" style="margin-bottom:10px;">
        
                {% include about/language.html %}
        
              </div>
        
            </div>
        
            <hr
              style="border: 0; height: 1px; background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc); page-break-after: always;">
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
